---
import PageLayout from '../../layouts/PageLayout.astro';
---

<PageLayout title="Photos & Video" description="Hollywood Dell photos and videos">
  <p>
    Photo galleries are being migrated to the new site. In the meantime, you can browse our
    existing collections on the previous website:
  </p>
  <ul>
    <li><a href="https://hollywooddell.com/category/photos/">Photo Galleries</a></li>
    <li><a href="https://hollywooddell.com/hollywood-dell-video/">Hollywood Dell Video</a></li>
  </ul>
</PageLayout>
